{% extends "AppCoder/padre.html" %}

{% load static%}

{% block contenido2%}
<!-- NEWSLETTER -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
                    <p>Productos <strong>ELECTRO.</strong>- Ingresa información sobre el producto que estas buscando!</p>
                
                    <form action="/productos_formulario" method= "POST">{% csrf_token %}

                        <table class="table">
                        {{ productos_formulario.as_table }}
                        </table>
                    
                    <input type="submit" name="SUSCRIBIRSE" value="Ingresar Producto" class="btn btn-danger "> 
                    
                    </form>
                    <ul class="newsletter-follow">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /NEWSLETTER -->

{% endblock %}