{% extends "AppCoder/padre.html" %}

{% load static%}




{% block contenido2 %}
	
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title text-center">
                <h3 class="title">PRODUCTOS</h3>
            </div>
        </div>
        
       
        
       
        {% for producto in object_list %}

           <!-- product -->
        <div class="col-md-3 col-xs-6">
            <div class="product">
                <div class="product-img">
                    <img src="/media/{{ producto.imagen }}" alt=""><!-- {% static 'AppCoder/img/product01.png' %} -->
                    <!-- <div class="product-label">
                        <span class="sale">-30%</span>
                    </div> -->
                </div>
                <div class="product-body">
                    <p class="product-category">{{ producto.categoria }}</p>
                    <h3 class="product-name">{{ producto.nombre }}</h3>
                    <h4 class="product-price">$ {{ producto.precio }} </h4>
                    <div class="product-rating">
                    </div>
                   
                </div>
                <div class="add-to-cart">
                    <a href="{% url 'Descripcion' producto.id %}"><button  class="add-to-cart-btn p-2"><i class="fa fa-eye"></i>Ver Más</button></a>
                </div>
            </div>
        </div>
        <!-- /product -->

        {% endfor %}    
       
       
    </div>
</div><br><br>



 
  
{% endblock%}