{% extends "AppCoder/padre.html" %}

{% load static%}

{% block contenido2%}
     <br><br><br>
    <div class="container text-center">
        <div class="row  ">
           
            <div class="col-md-6 col-xs-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37160.12456091292!2d-58.4327115668654!3d-34.590959351263926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3b4ef90cbd%3A0xa0b3812e88e88e87!2sBuenos%20Aires%2C%20CABA%2C%20Argentina!5e0!3m2!1ses-419!2suy!4v1639374543023!5m2!1ses-419!2suy" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
               
            </div>
            <div class="col-md-6 col-xs-12">
                <h1>PUNTOS DE VENTA</h1>
                <h2 class="text-center">Estos son los puntos de venta:</h2>
                <p style="padding:35px">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad assumenda nesciunt autem reiciendis esse in qui numquam pariatur deleniti architecto error, quae delectus molestiae recusandae molestias minus consequatur consequuntur iusto necessitatibus neque voluptates? Officia dolorum blanditiis doloremque et impedit quidem voluptatibus vel deserunt veritatis, perferendis, ex voluptate eos, nulla commodi quos corrupti doloribus exercitationem. Laudantium molestiae dolores eaque autem aliquam cum dignissimos quisquam voluptas in, dolor architecto molestias earum perferendis.</p>
            </div>
        </div>
    </div>
    <br><br><br>

{% endblock %}