{% extends "AppCoder/padre.html" %}

{% load static%}


{% block contenido2%}
 

    <h3>Maria Paz Oliva</h3>
    <h5>Sobre la página:</h5><p>Para la primera entrega hice 
    el formulario de suscriptores y el de productos. Para la 
    segunda entrega hice el CRUD de puntos de venta (lo tuve 
    que hacer dos veces, la primera vez con clases basadas en 
    vistas y como no funcionó dsp lo hice de la forma tradicional).</p>
    <h5>Sobre mí:</h5><p>Soy Licenciada en Lingüística y me 
    dedico a hacer investigación en el área de Psicolingüística 
    y Neurolingüística. Me recomendaron aprender Phyton para 
    poder utilizarlo en los proyectos de investigación en el procesamiento de datos.<p>
    <h3>Manuel Jorda</h3>
    <h5>Sobre la página:</h5><p>En la creación de la página web 
    me encargué de hacer el formulario de puntos de venta (la 
    gente envía su mail para que se le envíe la Info de los puntos 
    de venta). También hice el CRUD de suscriptores el cual fue 
    bastante más complicado de lo que en un momento pensé pero al 
    final logré hacer todo bien. Por último, además de agregar 
    errores generales y pequeños detalles hice el Excel con los 
    3 casos de prueba.<p>
    <h5>Sobre mí:</h5><p>Actualmente no trabajo, soy estudiante 
    de Ingeniería en Informática en la UBA y decidí hacer este 
    curso porque me pareció muy útil como forma de iniciarme en 
    el mundo de la programacion.<p>
    <h3>María Victoria Terán Beiza</h3>
    <h5>Sobre la página:</h5><p>Me encargué de realizar la estructura base 
    de la página con el template elegido por el equipo, cree los 
    modelos y las vistas del E commerce. Además, hice el CRUD del logueo, que permite
l   loguearse, desloguearse, registrar un nuevo usuario y modificar un usuario ya creado
    (para poder hacerlo se requiere previamente el logueo del usuario).</p>
    <h5>Sobre mí:</h5><p>Soy Actuaria en Economía y trabajo en un área de analítica,
    donde utilizamos diversas herramientas para el desarrollo de modelos, entre ellas Python.
    Me anoté en el curso para aprender más sobre la herramienta.</p>
    <h3>Marcelo Long</h3>
    <h5>Sobre la página:</h5> <p>Se mejoró el html de las vistas, eliminación de 
    un template de suscriptores, cambios en modelos suscriptores y productos, sus 
    forms y  views, lee los productos de la base de datos con sus respectivas imágenes, 
    personalización del admin, muestra en columnas los atributos con  su imagen, 
    se agregó archivo requerimiento.txt - Se cambió botón en productos x Ver Mas 
    donde te lleva a la template de descripción, cambio en action de form de suscriptores 
    y puntos de ventas, se sacó el Appcoder.</p>
    <h5>Sobre mí:</h5><p>Actualmente trabajando en una empresa de sistemas de alarmas con respuesta, como Chofer.
    Hice el curso de Python para ver algo de la parte de back-end, aunque ya había visto algo de forma autodidacta 
    de PHP y MySQL. También algo git y github. Del lado del Front-end vi html, css, bootstrap y javascript, 
    con cursos en YouTube y Udemy, Este último (javascript) también lo curse en CoderHouse como para acentar
    los conocimientos.</p>
{% endblock %}